<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img class="classYear" src="/images/xuan-canh-ty.jpg" alt="image error"></img>
    <h2 class="classCongratulation">Chúc mọi người một năm mới an khang thịnh vượng, phát tài phát lộc, phát bình an!</h2>   
  </body>
</html>
